.places {
    display: flex;
    flex-direction: column;
    border: none;
    
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: inherit;
}
.places h1 {
    font-size: 30px;
    margin-left: 15px;
    padding-top: -30px;
    margin-bottom: 0px;
}
article h2 {
    font-size: 30px;
    margin: auto;

}